.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

.cardlayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  width: 300px;
  margin: 20px;
  padding: 20px;
  background-color: white;
}
.img-position {
  align-self: flex-end;
}
